.navbar{
    background-color: #28a745;
   }
   .logo_navbar{
       height: 60px;
   }
   .parrafo-1{
       color: #28a745;
   }
.formulario{
    background-color: #28a745;
    color: white;
    
}
.img-footer{
    width: 300px;
}
.card-title{
    
    font-family: 'Roboto', sans-serif;
}

.derecha{
    text-align: right;
}